/*@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese'; */

html, body {font-family: 'Source Sans Pro', sans-serif; height: 100%; min-height: 100%; margin: 0; padding: 0; background:#fff;}
a {background-color: transparent; text-decoration:none; outline:none;}
a:active,
a:hover,
input {text-decoration:none; outline:none;}
h1, h2, h3, ul, li, p {margin:0; padding:0; font-weight:normal;} 
img {border: 0; vertical-align: middle;}
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none;}
button {outline:none;}
.full-width {float:left; width:100%;}
.common-container {width:980px; margin:0 auto;}  
.pull-left {float:left;}
.pull-right {float:right;}
.btn1 {display:inline; padding:5px 10px; background:#39a5d9; border:1px solid #1b8ac0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:pointer; color:#fff; text-transform:uppercase;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
	transition: all .4s ease;
}
.link-animation {-webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
.btn1:hover {background:#1b8ac0; border-color:#006fa5;}

#main-container {width:1300px; height:100%; position:relative; margin:0 auto;}

header {width:1300px; min-height:57px; position:fixed; margin:0; z-index:9999; background:#394e69; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10); -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);}
header .logo {float:left; width:222px; margin-right:10px;} 
header a.home {float:left; width:32px; height:32px; background:url(../images/home-btn1.png) no-repeat; margin:12px 15px 0 0;} 
header a.disable {background:url(../images/home-btn2.png) no-repeat !important;}

header .setting {position:relative;}
header .setting span {display:block; padding:20px 23px 19px 24px; text-align:center; color:#fff; background:#00b080; cursor:pointer; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
header .setting:hover span {background:#00926a;}
header .setting .setting-links {width:95px ;position:absolute; right:0; top:59px; display:none;}  
header .setting .setting-links a {float:left; width:100%; font-size:14px; color:#fff; padding:10px 15px 11px 40px; background-color:#39a5d9; background-repeat:no-repeat;}
header .setting .setting-links a.profile {background-image:url(../images/profile-icon.png); background-position:15px center;}
header .setting .setting-links a.logout {background-image:url(../images/logout-icon.png); background-position:15px center;}
header .setting .setting-links a:hover {background-color:#384e69;}

header .setting:hover .setting-links {display:block;} 

header a.chat-note {float:right; width:46px; text-align:center; background:#4c6078; position:relative; margin-left:1px; padding:18px 0 19px;
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
	transition: all .25s ease;
} 
header a.chat-note:hover {background:#334964;}
header a.chat-note span {position:absolute; width:8px; height:8px; background:#ff7800; border-radius:100%; -webkit-border-radius:100%; top:15px; left:41%; display:none;} 
header a.active span {display:block;}  

header nav {float:left; margin:15px 0 0 5px;}
nav ul {-webkit-font-smoothing:antialiased; list-style: none; margin: 0; padding: 0;}
nav li {float: left; margin: 0; padding: 0 0 13px; position: relative;}
nav > ul li a {float:left; color:#8ca0b9; font-size:16px; text-decoration: none; padding:4px 20px 5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
	transition: all .25s ease;
}
nav > ul li:hover a {color:#2c4059; background:#fff;}

nav li ul {float: left; left: 0; opacity: 0; position: absolute; top: 60px; visibility: hidden; z-index: 1; background: #39a5d9; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:10px 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
nav li ul.study {width:230px;}
nav li ul.data {width:255px;}
nav li ul.schedule {width:180px;}
nav li ul.calculation {width:215px;}
nav li ul.search {width:265px;}
nav li ul.help {width:150px;}

nav ul li ul:before {
    content:"";
    display:table;
	position:absolute;
	width:14px;
	height:14px;
	z-index:999;
	background:#39a5d9;
	top:-7px; 
	left:30px;
	transform:rotate(45deg);
}
nav li:hover ul {opacity: 1; top: 43px; visibility: visible;}
nav li ul li {float:left; width: 100%; text-align:left; margin-bottom:5px; padding:0;}
nav li ul li a {float:left; width: 100%; padding:5px 10px 5px 15px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; color:#fff !important; background:none !important; 
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
nav li ul a:hover {background:#384e69 !important; padding-left:25px;}

/*======================================================================================================================================= */

.popup-visible-off {width:250px; display: none; box-shadow: 0 0 10px rgba(0,0,0,0.3);  background: #fafafa;  border: 1px solid #e5e5e5; padding:20px;  border-radius:10px;  -webkit-border-radius:10px; outline:none; margin:2%;position:relative; line-height:150%; text-align:center;}
.popup-visible-off .btn-close {position: absolute; top: -13px; right: -13px; background: #3aa5d9; color: #FFF; padding:8px 7px; line-height: 10px;	border-radius: 100%; -webkit-border-radius: 100%; font-size:18px; cursor:pointer;}
#slide,
#slide_wrapper {top:10%; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s;}
#slide 
{
    -webkit-transform: translateX(0) translateY(-40%);
       -moz-transform: translateX(0) translateY(-40%);
        -ms-transform: translateX(0) translateY(-40%);
            transform: translateX(0) translateY(-40%);
}
.popup_visible #slide 
{
    -webkit-transform: translateX(0) translateY(0);
       -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}
.popup-visible-off span {font-size:22px; color:#1489c1;}
.popup-visible-off hr {border:0; border-top:1px solid #CCC;}
.popup-visible-off .uploaded-pic {padding-bottom:10px;}
.popup-visible-off input {float:left; width:100%; padding:5px 10px; margin-bottom:7px;}  
.popup-visible-off input[type='file'] {padding:0; margin-bottom:10px;}
.popup-visible-off input[type='text'],
.popup-visible-off input[type='email'] {border:1px solid #CCC; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

#content-area {float:left; width:100%; min-height:100%; background:#f9f9f9; padding:70px 20px 20px/* 220px*/; box-shadow: 0 0 50px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);} 

/*-- Lower Resolution Screen ---------------------------------------*/
#lower-resolution-screen {display:none; height:100%; background:#f9f9f9; font-family: 'Source Sans Pro', sans-serif; font-weight:400;}
#lower-resolution-screen .logo-container {background:url(../images/lsr-logo-back.png) repeat-x; text-align:center;}   
#lower-resolution-screen .notification {text-align:center; font-size:20px; padding:70px 25px 25px;}
#lower-resolution-screen .lrs-footer {position:absolute; left:0; bottom:0; width:100%; text-align:center; font-size:14px; color:#FFF; background:#39a5d9; padding:10px;}
/*-- Lower Resolution Screen ---------------------------------------*/

/*-- Login Page CSS ---------------------------------------*/
.login-page {height:100%; background:#f9f9f9;}
.login-page  .logo-container {background:url(../images/lsr-logo-back.png) repeat-x; text-align:center;}   
.login-page  .login-box-container {width:1300px; height:100%; position:relative; margin:0 auto; background:url(../images/login-bg.png) no-repeat; background-position:right bottom;}
.login-page  .login-box-container .login-window {float:left; width:420px; border-radius:7px; -webkit-border-radius:7px; background:#fff; border:1px solid #dedede; padding:30px; margin:55px 0 0 150px;}
.login-page  .login-box-container .login-window label {float:left; padding:5px 10px 0 0;}
.login-page  .login-box-container .login-window label span {display:inline-block; color:#F00; padding-left:5px;} 
.login-page  .login-box-container .login-window input {float:right; width:200px; background:#fafafa; border:1px solid #dddddd; padding:7px; border-radius:5px; -webkit-border-radius:5px; margin-bottom:10px;} 
.login-page  .login-box-container .login-window button {float:right; width:100px; margin-top:10px; background:#39a5d9; border:0; font-size:16px; color:#FFF; padding:9px 6px 8px; border-radius:100px; -webkit-border-radius:100px; cursor:pointer; outline:none; 
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;}
.login-page  .login-box-container .login-window button:hover {background:#384e69;}
.login-page  .login-box-container .login-window span {display:block; text-align:center; color:#39a5d9; padding-bottom:15px;} 
/*-- Login Page CSS ---------------------------------------*/

.time-points {cursor:pointer;}
.time-points img {width:20px; height:20px;} 
.popup {width:100%; height:100%; display:none; position:fixed; top:0px; left:0px; background: rgba(56,86,110,0.40); z-index:99999;}
.popup-close {width:29px; height:29px; position:absolute; top:15px; right:15px; background:url(../images/popup-close-1.png) no-repeat; cursor:pointer;}
.popup-outer-close {position:absolute; width:100%; height:100%; cursor:default;}

.time-points-popup-container {max-width:900px; width:100%; padding:25px; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); background:#fff; box-shadow: 0 20px 25px 0 rgba(0,0,0,0.07); border-radius: 14px; -webkit-border-radius: 14px; z-index:99999;}
.time-points-popup-container h2 {text-align:left; margin:0 0 10px 0 !important;}
.time-points-popup-container table {width:100% !important;}
.time-points-popup-container .pull-right {float:right; width:30%;} 
.time-points-popup-container .pull-right input[type="checkbox"] {width:100% !important;} 

/*-- Home Page CSS ---------------------------------------*/
.homepage {}
.homepage h1 {color:#2d4461; font-size:40px; font-weight:bold; text-align:center; padding:25px 0 50px;} 
.homepage .circle-container {float:left; width:25%; text-align:center;}
.homepage .circle-container div {width:166px; height:166px; margin:0 auto; border:6px solid #e8e8e8; border-radius:100%; -webkit-border-radius:100%; position:relative;}
.homepage .circle-container div h3 {font-size:17px; color:#fff; padding-top:27px; line-height:20px;}
.homepage .circle-container div h3.last {padding-top:40px;}
.homepage .circle-container div span {width:50px; height:50px; position:absolute; bottom:0; left:34%; z-index:999; background:#2c3f57; border-radius:100%; -webkit-border-radius:100%; text-align:center; color:#fff; font-size:18px; padding-top:12px; box-shadow:inset 0 3px 2px 0 rgba(0,0,0,0.5); -webkit-box-shadow:inset 0 3px 2px 0 rgba(0,0,0,0.5);}
.homepage .circle-container div.circle1 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100 */
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}
.homepage .circle-container div.circle2 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0db00+0,84b500+100 */
background: #a0db00; /* Old browsers */
background: -moz-linear-gradient(top,  #a0db00 0%, #84b500 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a0db00 0%,#84b500 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a0db00 0%,#84b500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0db00', endColorstr='#84b500',GradientType=0 ); /* IE6-9 */
}
.homepage .circle-container div.circle3 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ab2de+0,2580b5+100 */
background: #4ab2de; /* Old browsers */
background: -moz-linear-gradient(top,  #4ab2de 0%, #2580b5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4ab2de 0%,#2580b5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4ab2de 0%,#2580b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ab2de', endColorstr='#2580b5',GradientType=0 ); /* IE6-9 */
}
.homepage .circle-container div.circle4 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f67e7f+0,ef5556+100 */
background: #f67e7f; /* Old browsers */
background: -moz-linear-gradient(top,  #f67e7f 0%, #ef5556 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f67e7f 0%,#ef5556 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f67e7f 0%,#ef5556 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f67e7f', endColorstr='#ef5556',GradientType=0 ); /* IE6-9 */
}
 
/*-- Home Page CSS ---------------------------------------*/

@media (max-width: 1300px)
{
	#main-container,
	.login-page  .login-box-container {width:100%; left:0;}
	header {width:100%;}
}

@media (max-width: 800px)
{
	#main-container,
	.login-page {display:none !important;} 
	#lower-resolution-screen {display:block;}
}

/*==== Pull Schedule =============================*/
#pull-schedule-product-list {width:100%;} 
#pull-schedule-product-list th:nth-child(1) {width:2% !important;}
#pull-schedule-product-list th:nth-child(2) {width:60% !important;}
#pull-schedule-product-list th:nth-child(3) {width:19% !important;}
#pull-schedule-product-list th:nth-child(4) {width:19% !important;}
#pull-schedule-product-list th:nth-child(2),
#pull-schedule-product-list td:nth-child(2) {text-align:left; padding-left:10px !important;}

/*==== Date Range Picker CSS ==========================================================================*/
#date-range-container {float:left; width:100%; padding:20px;}
#date_range {padding:10px 15px; border-radius:5px !important; -webkit-border-radius:5px !important; border:0; color:#fff; background:url(../images/calendar-icon.svg) no-repeat 95% center #3aa5d9; background-size:20px;}

.daterangepicker {position: absolute; color: inherit; background-color: #fff; border-radius: 4px; width: 542px; padding: 4px; margin-top: 1px; top: 100px; left: 20px; -webkit-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2); border:1px solid #E0E0E0;}
.daterangepicker.dropdown-menu {max-width: none; z-index: 3001; display:none;}
.daterangepicker.show-calendar .calendar {float:left; width:250px; display:block; margin:0 3px 10px 10px;}
.daterangepicker .calendar.single .calendar-table {border: none;}
.daterangepicker .calendar th, .daterangepicker .calendar td {white-space: nowrap; text-align: center; min-width:32px;}
.daterangepicker .calendar-table {border: 1px solid #fff; padding: 4px; border-radius: 4px; background-color: #fff;} 
.daterangepicker table {width: 100%; margin: 0;}
.daterangepicker td, .daterangepicker th {text-align: center; width: 20px; height: 20px; border-radius: 4px; border: 1px solid transparent; white-space: nowrap; cursor: pointer;}
.daterangepicker td.available:hover {background-color: #eee; border-color: transparent; color: inherit;}
.daterangepicker th.prev {background:url(../images/ui-datepicker-prev.jpg) no-repeat left center;}
.daterangepicker th.next {background:url(../images/ui-datepicker-next.jpg) no-repeat right center;} 
.daterangepicker td.week, .daterangepicker th.week {font-size: 80%; color: #ccc;}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {background-color: #fff; border-color: transparent; color: #999;}
.daterangepicker td.in-range {background-color: #ebf4f8; border-color: transparent; color: #000; border-radius: 0;}
.daterangepicker td.start-date {border-radius: 4px 0 0 4px;}
.daterangepicker td.end-date {border-radius: 0 4px 4px 0;}
.daterangepicker td.start-date.end-date {border-radius: 4px;}
.daterangepicker td.active, .daterangepicker td.active:hover {background-color: #357ebd; border-color: transparent; color: #fff;}
.daterangepicker th.month {width:auto;}
.daterangepicker th {font-weight:700 !important;} 
.daterangepicker td.disabled, .daterangepicker option.disabled {color: #999; cursor: not-allowed; text-decoration: line-through;}
.daterangepicker select.monthselect, .daterangepicker select.yearselect {font-size: 12px; padding: 1px; height: auto; margin: 0; cursor: default;}
.daterangepicker select.monthselect {margin-right: 2%; width: 56%;}
.daterangepicker select.yearselect {width: 40%;}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {width: 50px; margin-bottom:0;}
.daterangepicker .daterangepicker_input {display:none;}
.daterangepicker .calendar-time {text-align: center; margin: 5px auto; line-height: 30px; position: relative; padding-left: 28px;}
.daterangepicker .calendar-time select.disabled {color: #ccc; cursor: not-allowed;}
.ranges {font-size: 11px; float: left; width:100%; margin:0 10px 10px; text-align: left;}
.ranges .range_inputs button {background:#3aa5d9; color:#fff; border:0; border-radius:5px !important; -webkit-border-radius:5px !important; padding:7px 15px; font-size:16px; margin:0 0 5px 7px;}  
.ranges .range_inputs button:hover {background:#384e69 !important}
.ranges .range_inputs .cancelBtn {display:none;}



/*==== Date Range Picker CSS ==========================================================================*/

/*=====================================================================================================================*/
/*== Ankit CSS Start ==================================================================================================*/

input[type=checkbox]{-webkit-appearance:checkbox !important;}
input[type="radio"]{-webkit-appearance: radio;}
input::-webkit-calendar-picker-indicator {display: none;}
#content-area .row{display: table;width:100%;padding:10px 0px 0px 20px;}
#content-area .clearfix{clear:both;}
#content-area form{padding-bottom: 50px !important}
.part12,.part11,.part10,.part9,.part8,.part7,.part6,.part5,.part4,.part3,.part2,.part1,.part4_modal{float: left;}

.row .part12{width:100%;}
.row .part11{width:91.6667%;}
.row .part10{width:83.3333%;}
.row .part9{width:75%;}
.row .part8{width:66.6667%;}
.row .part7{width:58.3333%;}
.row .part6{width:50%;}
.row .part5{width:41.6667%;}
.row .part4{width:33.3333%;}
.row .part4_modal{width:33.3333%;padding:5px 0px 5px 0px}
.row .part3{width:25%;}
.row .part2{width:16.6667%;}
.row .part1{width:8.33333%;}
.part5_modal{width:100%}
#content-area .title {border-bottom: 1px solid #e5e5e5;margin-right:20px ;color: #3aa5d9;line-height: 40px; margin:50px 0px 0px 20px;}
#content-area .title:nth-child(1) {margin:20px 0px 0px 20px;} 
#content-area .inputfile {width: 0.1px;	height: 0.1px;opacity: 0;}
#content-area .label-text{color:#005cdd;}
#content-area a {color:#005cdd; text-decoration:underline;}
#content-area a:hover {color:#000; text-decoration:none;} 
#content-area .form-input{background-color:#FFFFFF;border:1px solid #E9E9E9;padding: 6px 10px 6px 10px;position:relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;width:125%;margin:0px auto;}
/* #content-area .form-input{background-color:#FFFFFF;border:1px solid #E9E9E9;padding: 6px 10px 6px 10px;position:relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;width:107%;margin:0px auto;} */
#content-area .form-input_c{width:107% !important;}
#content-area .button-blue,.button-black,.button-default {font-family: 'Source Sans Pro', sans-serif; font-size:18px;border: none;border-radius: 5px;padding: 4px 14px;text-align: center;text-decoration: none;display: inline-block;cursor: pointer;}
#content-area .button-blue {background-color: #3aa5d9;color: white;}
#content-area .button-black {background-color: #323232;color: white;}
#content-area .button-default {background-color: #f9f9f9;color: black;border:1px solid #c4c4c4;box-shadow:0 2px 0 #c4c4c4;}
#content-area .dvcustom{pointer-events: none;background-color:grey !important;cursor: not-allowed;}
#content-area .button-blue:hover{background:#384e69; color:#fff;}
#content-area .left{float:left;margin-left:10px}
#content-area .right{float:right;margin-right:10px;margin-top: 6px;}
#content-area .center{text-align: center;}
#content-area .datepicker {background-image: url(../images/date.png);background-repeat: no-repeat;background-position:right;}
#content-area table {border-collapse: collapse;width: 98%;border: 1px solid #d3d3d3;}
#content-area .fix-width-table th, td {text-align: center;border: 1px solid #d3d3d3;padding:5px 0px;width:5.4%}
#content-area .fix-width-table .td{text-align: center;border: 1px solid #d3d3d3;padding:5px 0px;width:16.8% !important}

#content-area .stability-report-table th, td {text-align: center;border: 1px solid  #aeb6bf ;padding:3px 2px !important; width:5.4%;}
#content-area .stability-report-table th {background-color:rgba(0,0,0,0.05);}
#content-area .stability-report-table .td{text-align: center;border: 1px solid #d3d3d3;padding:3px 0px !important;width:16.8% !important}

#content-area table th, td {text-align: center;border: 1px solid #d3d3d3;padding:5px;}
#content-area table .td{text-align: center;border: 1px solid #d3d3d3;padding:5px;}
#content-area textarea{width:98%;resize:none;border-radius: 5px;border:1px solid #E9E9E9;-webkit-border-radius: 5px;-moz-border-radius: 5px;padding: 6px 10px 6px 10px;}
#content-area .watercontent{width:138%;}
#content-area .justification {width:100%; min-height:200px; float:left;}
#content-area .separator{margin: 50px 0 0 20px;background-color: #e5e5e5 !important;color: #e5e5e5 !important;border: solid 1px #e5e5e5 !important;height: 3px !important;}

.popup_custom_storage_condition .btn-add:hover{background:#384e69;}
.popup_custom_storage_condition button,input[type=button]{background-color: #f9f9f9;color: black;border:1px solid #c4c4c4;width:50px;border-radius: 5px;padding: 4px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;}
.popup_custom_storage_condition .btn-space{background-color: #f9f9f9;color: black;border:1px solid #c4c4c4;box-shadow:0 2px 0 #c4c4c4;width:110px;border-radius: 5px;padding: 4px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;}
.popup_custom_storage_condition .btn-add{background-color: #00a2e8;color: white;border:1px solid #c4c4c4;width:60px;border-radius: 5px;padding: 4px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;}
.popup_custom_storage_condition {width:500px; display: none; box-shadow: 0 0 10px rgba(0,0,0,0.3);  background: #fafafa;  border: 1px solid #e5e5e5; padding:20px;  border-radius:10px;  -webkit-border-radius:10px; outline:none; margin:2%; line-height:150%; text-align:center;}
.popup_custom_storage_condition .btn-close {position: absolute; top: -13px; right: -13px; background: #3aa5d9; color: #FFF; padding:8px 7px; line-height: 10px;	border-radius: 100%; -webkit-border-radius: 100%; font-size:18px; cursor:pointer;}
.popup_custom_storage_condition .form-input-big{background-color:#FFFFFF;border:1px solid #E9E9E9;padding: 6px 10px 6px 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;width:335px;}
.popup_custom_storage_condition hr{border:0; border-top:1px solid #CCC;}
.popup_custom_storage_condition span {font-size:22px; color:#1489c1;}

/* Login popup for all page -css */
.login-form-input{border: 1px solid #ccc;border-radius: 5px;}
#slide1,#slide2,#slide3,#login {top:20%;-webkit-transition: all 0.4s;-moz-transition: all 0.4s; transition: all 0.4s;-webkit-transform: translateX(0) translateY(-40%);-moz-transform: translateX(0) translateY(-40%); -ms-transform: translateX(0) translateY(-40%);transform: translateX(0) translateY(-40%);}
.popup_visible #slide1{ -webkit-transform: translateX(0) translateY(0);-moz-transform: translateX(0) translateY(0);-ms-transform: translateX(0) translateY(0);transform: translateX(0) translateY(0);}
.popup_visible #slide2{ -webkit-transform: translateX(0) translateY(0);-moz-transform: translateX(0) translateY(0);-ms-transform: translateX(0) translateY(0);transform: translateX(0) translateY(0);}
.popup_visible #slide3{ -webkit-transform: translateX(0) translateY(0);-moz-transform: translateX(0) translateY(0);-ms-transform: translateX(0) translateY(0);transform: translateX(0) translateY(0);}
.popup_visible #login{ -webkit-transform: translateX(0) translateY(0);-moz-transform: translateX(0) translateY(0);-ms-transform: translateX(0) translateY(0);transform: translateX(0) translateY(0);}
.top{margin-top:5px}
.login-label{font-size:12px; line-height:normal !important;}
.links{text-decoration:underline !important;margin-right:10px;}
/* End Login popup for all page -css */

/* coordinator page -css */
#content-area .top-label{background-color:#e2f1f8;-webkit-border-radius: 5px;padding-top:4px !important;padding-bottom: 6px !important;width:97.5% }
#content-area .orange-label{background-color:#f58621;color:white;border-top-left-radius:5px;font-style: italic;border-bottom-left-radius:5px;padding:7px 8px 6px 8px !important;letter-spacing: 0.5px}
#content-area .blue-label{padding-left: 10px;color:#394e69;font-style: italic;font-size: 15px;}
/* End coordinator page -css */

#content-area .datalist {list-style: none;display: none;background: white;box-shadow: 0 2px 2px #999;position: absolute;left: 0;top: 0;max-height: 100px;overflow-y: scroll !importantauto;}
#content-area .datalist:empty {display: none !important;}
#content-area .datalist li {padding: 3px;font: 13px "Lucida Grande", Sans-Serif;}
#content-area.datalist li.active {background: #3875d7;color: white;}
::-webkit-scrollbar {width: 10px;}
 ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);border-radius: 10px;}
 ::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);}

#content-area .create-data-table-note {display:block; font-size:12px;}
#content-area #stability-report-data-table {font-size: 12px !important;}
#content-area #stability-report-data-table input {border:0; padding:2px; font-size:12px; color:#000; width:100%;}

#create-edit-data-table input {width:100%; border:0; text-align:left; background:#f9f9f9; padding:1px 5px;} 
#create-edit-data-table a {font-weight:normal;} 
#create-edit-data-table .ssd {max-width:200px;}
#create-edit-data-table .p-name input {padding-left:10px !important; text-align:left !important;} 

#create-data-table {cursor:pointer;}
#stability-report-data-table-container {float:left; width:100%; overflow-x:auto; display:none;} 
 
/*== Ankit CSS End ==================================================================================================*/
/*=====================================================================================================================*/

.ui-datepicker .ui-datepicker-header {background:#3aa5d9; border:0;}
.ui-datepicker .ui-datepicker-title {color:#fff;}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {background:#fff;} 

.ui-datepicker-prev,
.ui-datepicker-next {border:0 !important; background-color:transparent !important; cursor:pointer;}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {border: 1px solid #000; background: #384e69; color: #fff;}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {background:#3aa5d9; border: 1px solid #3aa5d9; color: #fff;} 

/* Notofications page -css */
.color-dots-container {padding:20px 0 40px;} 
.color-dots-container div {float:left; margin-right:50px;}
.color-dots-container div img {float:left; width:25px; height:25px; margin-right:10px;}
.color-dots-container div label {float:left; padding-top:1px;}

.notifications-table {width:100% !important; border:1px solid #d6d6d6 !important;}
.notifications-table td {padding:10px 12px !important; text-align:left; color:#000;} 
.notifications-table td span {display:inline; color:#5d5d5d; padding-left:5px;}
.notifications-table td:nth-child(1) {width:40px; text-align:center !important; vertical-align:middle !important;}
.notifications-table td:nth-child(1) img {display:block; width:15px; height:15px;}
.notifications-table td:nth-child(2) {width:auto;}

#notificationLink
{
	position:relative;
}
#notificationContainer {
background-color: #fff;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 59px;
margin-left: 742px;
width: 416px;
/* z-index: -1; */
display: none;
}
#notificationTitle {
z-index: 1000;
font-weight: bold;
padding:5pxx 8px;
font-size: 16px;
background-color: #ffffff;
width: 100%;

/* border-bottom: 1px solid #dddddd; */
}
#notificationsBody {
min-height:200px;
}
#notificationFooter a {
background-color: #3aa5d9;color: white; width:100%; font-family: 'Source Sans Pro', sans-serif; font-size:16px;border: none;padding: 5px 14px;text-align: center;text-decoration: none;display: inline-block;cursor: pointer;
}
#notificationFooter a:hover{
background:#384e69; color:#fff;
}
#notificationContainer table
{
	border-collapse: collapse;
}































