{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Stability Link</title>
<link rel="stylesheet" href={% static "account/css/jquery-ui.css" %} type="text/css" media="all"/>
<link rel="stylesheet" href={% static "account/css/style.css" %} type="text/css" media="all"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src={% static "account/js/jquery.popupoverlay.js" %}></script>
<style>
	.createeditdatatable input {width:100%; border:0; text-align:left; background:#f9f9f9; padding:1px 5px;} 
	.add_new_row{margin-top:10px;margin-bottom:10px}
	.add_new_requester{margin-top:10px;margin-bottom:10px}
	.add_new_cordinator{margin-top:10px;margin-bottom:10px}
	.add_new_dataentry {margin-top:10px;margin-bottom:10px}
	.add_new_manager{margin-top:10px;margin-bottom:10px}
	.add_new_quality{margin-top:10px;margin-bottom:10px}
</style>
</head>
<body>
<span id="invalid"></span>
<div id="main-container">

	<header>
		<img src={% static "account/images/logo.png" %} alt="Stability Link Logo" class="logo"/>
		<a href="index.html" class="home"></a>
		<nav>
		    <ul>
			   <li><a href="">Study</a>
				  <ul class="study">
					 <li><a href="requestor-form.html">Request New Stability Study</a></li>
					 <li><a href="amend-stability-study.html">Amend Stability Study</a></li>
					 <li><a href="cancel-stability-study.html">Cancel Stability Study</a></li>
				  </ul>
			   </li>
			   <li><a href="">Data</a>
				  <ul class="data">
					 <li><a href="create-edit-data-table.html">Create Data Table / Enter Data</a></li>
				  </ul>
			   </li>
			   <li><a href="">Schedule</a>
				  <ul class="schedule">
					 <li><a href="pull-schedule.html">Pull Schedule</a></li>
					 <li><a href="">Data Entry Schedule</a></li>
				  </ul>
			   </li>
			   <li><a href="">Calculation</a>
				  <ul class="calculation">
					 <li><a href="">Expiry Dating Calculation</a></li>
					 <li><a href="">Arrhenius Treatment</a></li>
					 <li><a href="">Poolability Test</a></li>
					 <li><a href="">Expiry Dating Simulation</a></li>
				  </ul>
			   </li>
			   <li><a href="">Search</a>
				  <ul class="search">
					 <li><a href="">Search Approved Stability Study</a></li>
					 <li><a href="">Search Stability Reports</a></li>
				  </ul>
			   </li>
			   <li><a href="">Help</a>
				  <ul class="help">
					 <li><a href="ich-guidelines.html">ICH Guideline</a></li>
					 <li><a href="">FAQ</a></li>
					 <li><a href="">How to..</a></li>
					 <li><a href="about-us.html">About us</a></li>
					 <li><a href="">Contact us</a></li>
				  </ul>
			   </li>
		    </ul>
		</nav>
		<div class="pull-right setting">
			<span>Setting</span>
			<div class="setting-links">
			<a href="#slide" class="link-animation profile slide_open">Profile</a>
			<a href="" class="link-animation logout">Logout</a>
			</div>
			
			<div id="slide" class="popup-visible-off">
				<a class="slide_close btn-close">X</a>
				<span>Edit Profile</span>
				<hr/>
				<div class="full-width uploaded-pic"><img src={% static "account/images/bill-gates.png" %} width="100" height="100"  alt="Name"/></div>
				<input type="file"/><br/>
				<input type="submit" name="Submit" value="Submit" class="btn1"/>
			</div>
		</div>
		
		<a href="" class="chat-note active"><span></span><img src={% static "account/images/chat-icon.png" %} alt="Chat"/></a>
		<a href="" class="chat-note"><span></span><img src={% static "account/images/notification-icon.png" %} alt="Notification"/></a>
	</header>	

	<div id="content-area">
		<form id="myform"> 
		<h2 class="title">Add Usre Data Table</h2>
		
		<div class="row">
		 <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id='Ad'>

				<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td>
					<input style="text-align: center;" type="text" name="designation" value="Administrator"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden0" type="hidden" value="False" name="pr_status"> -->
				</tr>
				
		</table>
		<br/>
		<a class="button-blue add_new_row" data-id="Ad">Add New Admin</a>
		<br/>
		<table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="RE">
				<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Requester"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_req0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_req0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_req0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_req0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	    </table>
    	<br/>
		<a class="button-blue add_new_requester" data-id="RE">Add New Requester</a>
		<br/>
	    <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="SC">
	    		<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Stability Coordinator"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_cord0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_cord0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_cord0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_cord0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	   </table>
	   <br/>
	   <a class="button-blue add_new_cordinator" data-id="SC">Add New Stability Coordinator</a>
	   <br/>
	   <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="DE">
	   			<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Data Entry"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_dataentry0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_dataentry0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_dataentry0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_dataentry0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	   </table>
	   <br/>
	   <a class="button-blue add_new_dataentry" data-id="DE">Add New Data Entry Person</a>
	   <br/>
	   <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="SM">
	   			<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Stability Manager"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_manager0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_manager0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_manager0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_manager0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	   </table>
	   <br/>
	   <a class="button-blue add_new_manager" data-id="SM">Add New Stability Manager</a>
	   <br/>
	   <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="QA">
	   			<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Quality Assurance"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_quality0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_quality0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_quality0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_quality0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	   </table>
	   <br/>
	   <a class="button-blue add_new_quality" data-id="QA">Add New Quality Assurance</a>
	   <br/>
	   <table border="1" cellspacing="0" cellpadding="0" class="createeditdatatable" id="PM">
	   			<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				<tr>
					<td><input style="text-align: center;" type="text" name="designation" value="Project Management/ Regulatory Affairs"></td>
					<td><input type="text" name="name"></td>
					<td><input type="email" name="email"></td>
					<td><input type="text" class="ssd" name="date"></td>
					<td><input id="ac_management0" type="checkbox" name="ac_status" ></td>
					<!-- <input id="achidden_management0" type="hidden" value="False" name="ac_status"> -->
					<td><input id="pr_management0" type="checkbox" name="pr_status" id="l_box2" ></td>
					<!-- <input id="prhidden_management0" type="hidden" value="False" name="pr_status"> -->
				</tr>
	   </table>
		<br/>
		<a class="button-blue add_new_management" data-id="PM">Add New Project Management</a>

		</div>
		<!-- <h>{{token.token.access_token}}</h> -->
		</form>
		<input onclick="fun()" style="margin-left: 48%;width: 9%;" type="submit" name="button" value="Submit">
		
	</div>
	
</div> 

<div id="slide1" class="popup_custom_storage_condition">
				<a class="slide1_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>
			
<div id="slide2" class="popup_custom_storage_condition">
				<a class="slide2_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition2" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn2" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>
			
<div id="slide3" class="popup_custom_storage_condition">
				<a class="slide3_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition3" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn3" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>

<div class="full-width" id="lower-resolution-screen">
	<div class="full-width logo-container"><img src={% static "account/images/lsr-logo.png" %} width="219" height="70"  alt="Logo"/></div>
	<div class="full-width notification">
		<img src={% static "account/images/lsr-alert-icon.png" %} width="84" height="84"  alt="Notification Icon"/><br/><br/>
		This application only compatible with desktop resolutions.<br/>
		It’s not compatible with low resolutions and small devices.
	</div>
	<div class="lrs-footer">Stability Link is a product of XXX group.  &copy; 2016, All right Reserved</div>
</div>
</body>
<script src={% static "account/js/jquery-ui.js" %}></script>
<script>
$( ".ssd" ).datepicker({
	  dateFormat: "dd-mm-yy"
});  

var counter = 0;
var counter1 = 0;
var counter2=0;
var counter3=0;
var counter4=0;
var counter5=0;
var counter6=0;
$(".add_new_row").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Administrator"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac'+counter+'" type="checkbox" name="ac_status" ></td><td><input id="pr'+counter+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_requester").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter1++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Requester"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_req'+counter1+'" type="checkbox" name="ac_status" ></td><td><input id="pr_req'+counter1+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_cordinator").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter2++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Stability Coordinator"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_cord'+counter2+'" type="checkbox" name="ac_status"></td><td><input id="pr_cord'+counter2+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_dataentry").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter3++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Data Entry"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_dataentry'+counter3+'" type="checkbox" name="ac_status" ></td><td><input id="pr_dataentry'+counter3+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_manager").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter4++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Stability Manager"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_manager'+counter4+'" type="checkbox" name="ac_status" ></td><td><input id="pr_manager'+counter4+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_quality").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter5++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Quality Assurance"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_quality'+counter5+'" type="checkbox" name="ac_status" ></td><td><input id="pr_quality'+counter5+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});

$(".add_new_management").click(function(event)
{
	var btn_id = $(this).attr("data-id");
	
	event.preventDefault();
	counter6++;
	var r = $('<tr><td><input style="text-align: center;" type="text" name="designation" value="Project Management/ Regulatory Affairs"></td><td><input type="text" name="name"></td><td><input type="email" name="email"></td><td><input type="text" class="ssd" name="date"></td><td><input id="ac_management'+counter6+'" type="checkbox" name="ac_status" ></td><td><input id="pr_management'+counter6+'" type="checkbox" name="pr_status" ></td></tr>');
	$("#"+btn_id).append(r);
	
	$( ".ssd" ).datepicker({
		  dateFormat: "dd-mm-yy"
	});
});
function fun()
 {
 	// var data;
 	var v1='{{token.token.access_token}}'
 	console.log(v1)
 	// alert('gooooo')
 	var xhr = new XMLHttpRequest();
 	var formData = new FormData();
 	var el=document.getElementById("myform").elements
 	// console.log(el);
 	for(var i = 0 ; i < document.getElementById("myform").elements.length ; i++){
        var item = el.item(i);
        var obj = item.value;
        
        if (	item.name == "ac_status")
        	{ obj=item.checked}
        if (	item.name == "pr_status")
        	{ obj=item.checked}
        formData.append(item.name,obj);
        // console.log(item.name,">>>>",obj)
    }
    xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
    	var data=xhr.responseText
        console.log(getdata(data));
    	}
	}
    // var v={{token.token.access_token}};
 	xhr.open("POST", '{% url "account:adduser" %}' ,true);
 	xhr.setRequestHeader('Authorization', 'Bearer ' + v1);
 	xhr.send(formData);
 	// xhr.open("POST", "http://127.0.0.1:8000/api/user/adduser/",true);
 	// xhr.setRequestHeader('Authorization', 'Bearer ' + v1);
 	// vv=xhr.send(formData);
 	// JSON.parse(vv.responseText);
 	console.log("................");
 	// alert(">>>>>AFTER")
 	
 }

function getdata(data)
{
	// var a =fun();
	console.log("after",data)
	var obj = JSON.parse(data);
	console.log(typeof obj,obj['result'],obj['service'])
	if (obj['result']==201)
	{
		window.open("http://127.0.0.1:8000/api/user/show/?key="+obj['service'],"_self")
	}
	if (obj['result']==400)
	{
		alert ("you don't have permission to add more than 8 user")
	}
	else
	{
		return "Exception"
	}
}
	// return "fffff"
	// 
	// for (var i=0;i<=counter;i++)
	//  {

	//  	acid="ac"+i	
	//  	achidden="achidden"+i
	//  	prid="pr"+i
	//  	prhidden="prhidden"+i
	//  	console.log(acid,achidden)
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }
	// for (var i=0;i<=counter1;i++)
	//  {

	//  	acid="ac_req"+i	
	//  	achidden="achidden_req"+i
	//  	prid="pr_req"+i
	//  	prhidden="prhidden_req"+i
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }
	// for (var i=0;i<=counter2;i++)
	//  {

	//  	acid="ac_cord"+i	
	//  	achidden="achidden_cord"+i
	//  	prid="pr_cord"+i
	//  	prhidden="prhidden_cord"+i
	//  	console.log(acid,achidden)
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }

	// for (var i=0;i<=counter3;i++)
	//  {

	//  	acid="ac_dataentry"+i	
	//  	achidden="achidden_dataentry"+i
	//  	prid="pr_dataentry"+i
	//  	prhidden="prhidden_dataentry"+i
	//  	console.log(acid,achidden)
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
				
	// 		}
	// }

	// for (var i=0;i<=counter4;i++)
	//  {

	//  	acid="ac_manager"+i	
	//  	achidden="achidden_manager"+i
	//  	prid="pr_manager"+i
	//  	prhidden="prhidden_manager"+i
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }
	// for (var i=0;i<=counter5;i++)
	//  {

	//  	acid="ac_quality"+i	
	//  	achidden="achidden_quality"+i
	//  	prid="pr_quality"+i
	//  	prhidden="prhidden_quality"+i
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }
	// for (var i=0;i<=counter6;i++)
	//  {

	//  	acid="ac_management"+i	
	//  	achidden="achidden_management"+i
	//  	prid="pr_management"+i
	//  	prhidden="prhidden_management"+i
	// 	if (document.getElementById(acid).checked)
	// 	{
	// 		console.log("req")
	// 		document.getElementById(achidden).disabled = true;
	// 	}
	// 	if (document.getElementById(prid).checked)
	// 		{
	// 			document.getElementById(prhidden).disabled = true;
	// 		}
	// }
		

</script>
</html>	
