{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Stability Link</title>
<link rel="stylesheet" href={% static "account/css/style.css" %} type="text/css" media="all"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src={% static "account/js/jquery.popupoverlay.js" %}></script>
</head>
<body>
<div id="main-container">
	<div class=" login-page">
		<header>
			<img src={% static "account/images/logo.png" %} alt="Stability Link Logo" class="logo"/>
			<a href="index.html" class="home"></a>
			<nav>
			    <ul>
				   <li><a href="">Study</a>
					  <ul class="study">
						 <li><a href="requestor-form.html">Request New Stability Study</a></li>
						 <li><a href="amend-stability-study.html">Amend Stability Study</a></li>
						 <li><a href="cancel-stability-study.html">Cancel Stability Study</a></li>
					  </ul>
				   </li>
				   <li><a href="">Data</a>
					  <ul class="data">
						 <li><a href="create-edit-data-table.html">Create Data Table / Enter Data</a></li>
					  </ul>
				   </li>
				   <li><a href="">Schedule</a>
					  <ul class="schedule">
						 <li><a href="pull-schedule.html">Pull Schedule</a></li>
						 <li><a href="">Data Entry Schedule</a></li>
					  </ul>
				   </li>
				   <li><a href="">Calculation</a>
					  <ul class="calculation">
						 <li><a href="">Expiry Dating Calculation</a></li>
						 <li><a href="">Arrhenius Treatment</a></li>
						 <li><a href="">Poolability Test</a></li>
						 <li><a href="">Expiry Dating Simulation</a></li>
					  </ul>
				   </li>
				   <li><a href="">Search</a>
					  <ul class="search">
						 <li><a href="">Search Approved Stability Study</a></li>
						 <li><a href="">Search Stability Reports</a></li>
					  </ul>
				   </li>
				   <li><a href="">Help</a>
					  <ul class="help">
						 <li><a href="ich-guidelines.html">ICH Guideline</a></li>
						 <li><a href="">FAQ</a></li>
						 <li><a href="">How to..</a></li>
						 <li><a href="about-us.html">About us</a></li>
						 <li><a href="">Contact us</a></li>
					  </ul>
				   </li>
			    </ul>
			</nav>
			<div class="pull-right setting">
				<span>Setting</span>
				<div class="setting-links">
				<a href="#slide" class="link-animation profile slide_open">Profile</a>
				<a href="" class="link-animation logout">Logout</a>
				</div>
				
				<div id="slide" class="popup-visible-off">
					<a class="slide_close btn-close">X</a>
					<span>Edit Profile</span>
					<hr/>
					<div class="full-width uploaded-pic"><img src={% static "account/images/bill-gates.png" %} width="100" height="100"  alt="Name"/></div>
					<input type="file"/><br/>
					<input type="submit" name="Submit" value="Submit" class="btn1"/>
				</div>
			</div>
			
			<a href="" class="chat-note active"><span></span><img src={% static "account/images/chat-icon.png" %} alt="Chat"/></a>
			<a href="" class="chat-note"><span></span><img src={% static "account/images/notification-icon.png" %} alt="Notification"/></a>
		</header>
		
		<div id="content-area">
			<div class="login-box-container">
				<div class="login-window">
				<form action={% url "account:login" %} method="post"> {% csrf_token %}
					<div class="full-width">
						<label>User Name <span>*</span></label>
						<input type="text" placeholder="Your Company Email ID" name="user" />
					</div>
					<div class="full-width">
						<label>Password <span>*</span></label>
						<input type="password" name="pass" />
					</div>
					<div class="full-width">
						<button>LOGIN</button>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="full-width" id="lower-resolution-screen">
	<div class="full-width logo-container"><img src={% static "account/images/lsr-logo.png" %} width="219" height="70"  alt="Logo"/></div>
	<div class="full-width notification">
		<img src={% static "account/images/lsr-alert-icon.png" %} width="84" height="84"  alt="Notification Icon"/><br/><br/>
		This application only compatible with desktop resolutions.<br/>
		It’s not compatible with low resolutions and small devices.
	</div>
	<div class="lrs-footer">Stability Link is a product of XXX group.  &copy; 2016, All right Reserved</div>
</div>
</body>
</html>
