{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Stability Link</title>
<link rel="stylesheet" href={% static "account/css/jquery-ui.css" %} type="text/css" media="all"/>
<link rel="stylesheet" href={% static "account/css/style.css" %} type="text/css" media="all"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src={% static "account/js/jquery.popupoverlay.js" %}></script>
</head>
<body>
<div id="main-container">

	<header>
		<img src={% static "account/images/logo.png" %} alt="Stability Link Logo" class="logo"/>
		<a href="index.html" class="home"></a>
		<nav>
		    <ul>
			   <li><a href="">Study</a>
				  <ul class="study">
					 <li><a href="requestor-form.html">Request New Stability Study</a></li>
					 <li><a href="amend-stability-study.html">Amend Stability Study</a></li>
					 <li><a href="cancel-stability-study.html">Cancel Stability Study</a></li>
				  </ul>
			   </li>
			   <li><a href="">Data</a>
				  <ul class="data">
					 <li><a href="create-edit-data-table.html">Create Data Table / Enter Data</a></li>
				  </ul>
			   </li>
			   <li><a href="">Schedule</a>
				  <ul class="schedule">
					 <li><a href="pull-schedule.html">Pull Schedule</a></li>
					 <li><a href="">Data Entry Schedule</a></li>
				  </ul>
			   </li>
			   <li><a href="">Calculation</a>
				  <ul class="calculation">
					 <li><a href="">Expiry Dating Calculation</a></li>
					 <li><a href="">Arrhenius Treatment</a></li>
					 <li><a href="">Poolability Test</a></li>
					 <li><a href="">Expiry Dating Simulation</a></li>
				  </ul>
			   </li>
			   <li><a href="">Search</a>
				  <ul class="search">
					 <li><a href="">Search Approved Stability Study</a></li>
					 <li><a href="">Search Stability Reports</a></li>
				  </ul>
			   </li>
			   <li><a href="">Help</a>
				  <ul class="help">
					 <li><a href="ich-guidelines.html">ICH Guideline</a></li>
					 <li><a href="">FAQ</a></li>
					 <li><a href="">How to..</a></li>
					 <li><a href="about-us.html">About us</a></li>
					 <li><a href="">Contact us</a></li>
				  </ul>
			   </li>
		    </ul>
		</nav>
		<div class="pull-right setting">
			<span>Setting</span>
			<div class="setting-links">
			<a href="#slide" class="link-animation profile slide_open">Profile</a>
			<a href="" class="link-animation logout">Logout</a>
			</div>
			
			<div id="slide" class="popup-visible-off">
				<a class="slide_close btn-close">X</a>
				<span>Edit Profile</span>
				<hr/>
				<div class="full-width uploaded-pic"><img src={% static "account/images/bill-gates.png" %}  width="100" height="100"  alt="Name"/></div>
				<input type="file"/><br/>
				<input type="submit" name="Submit" value="Submit" class="btn1"/>
			</div>
		</div>
		
		<a href="" class="chat-note active"><span></span><img src={% static "account/images/chat-icon.png" %} alt="Chat"/></a>
		<a href="" class="chat-note"><span></span><img src={% static "account/images/notification-icon.png" %} alt="Notification"/></a>
	</header>	

	<div id="content-area">
		<!-- <h3>{{data}}</h3> -->
		<h2 class="title">Show Usre Data Table</h2>
		
		<div class="row">
			<table border="1" cellspacing="0" cellpadding="0" id="create-edit-data-table">
				<tr>
					<th>Designation</th>
					<th>Last Name,First Name</th>
					<th>Email address</th>
					<th>Account Creation Date</th>
					<th>Account Status</th>
					<th>Disable User</th>
				</tr>
				{% for i in data %}
				<tr>
					<td>{{i.designation}}</td>
					<td>{{i.name}}</td>
					<td>{{i.email}}</td>
					<td>{{i.date}}</td>
					<td>{{i.is_active}}</td>
					<td><a class="time-points" data-popup-open="time-points-popup-1"><img src={% static "account/images/popup-close-1.png" %} alt=""></a></td>
				</tr>
				{% endfor %}
				
			</table>
			

		</div>
		
	</div>
	
</div> 

<div id="slide1" class="popup_custom_storage_condition">
				<a class="slide1_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>
			
<div id="slide2" class="popup_custom_storage_condition">
				<a class="slide2_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition2" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn2" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>
			
<div id="slide3" class="popup_custom_storage_condition">
				<a class="slide3_close btn-close">X</a>
				<span>Add a custom storage condition</span>
				<hr/>
				<div class="row">
					<div class="part12">
						<input id="customStorageCondition3" class="form-input-big" type="text" value=""> 
						<button id="addConditionBtn3" type="button" class="btn-add">Add</button>
					</div>
				</div>
				<div class="row" style="padding:25px !important;"></div>
				<div class="row">
				
					<div class="part5">
								<div class="part4">
									<input type="button" value="1">
								</div>
								<div class="part4">
									<input type="button" value="2">
								</div>
								<div class="part4">
									<input type="button" value="3">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="&#x2103;">
								</div>
								<div class="part3">
									<input type="button" value="&#xb1;">
								</div>
								<div class="part3">
									<input type="button" value="%">
								</div>
					</div>
					
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="4">
								</div>
								<div class="part4">
									<input type="button" value="5">
								</div>
								<div class="part4">
									<input type="button" value="6">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="RH">
								</div>
								<div class="part3">
									<input type="button" value="/">
								</div>
								<div class="part3">
									<input type="button" value="Del">
								</div>
					</div>
				</div>
				<div class="row" style="padding:20px !important;"></div>
				<div class="row">
					<div class="part5">
								<div class="part4">
									<input type="button" value="7">
								</div>
								<div class="part4">
									<input type="button" value="8">
								</div>
								<div class="part4">
									<input type="button" value="9">
								</div>
					</div>
					<div class="part1">
						<span>&nbsp;</span>
					</div>
					<div class="part6">
								<div class="part3">
									<input type="button" value="0">
								</div>
								<div class="part6">
									<input type="button" value="Space" class="btn-space">
								</div>
					</div>
				</div>
			</div>

<div class="full-width" id="lower-resolution-screen">
	<div class="full-width logo-container"><img src={% static "account/images/lsr-logo.png" %} width="219" height="70"  alt="Logo"/></div>
	<div class="full-width notification">
		<img src={% static "account/images/lsr-alert-icon.png" %} width="84" height="84"  alt="Notification Icon"/><br/><br/>
		This application only compatible with desktop resolutions.<br/>
		It’s not compatible with low resolutions and small devices.
	</div>
	<div class="lrs-footer">Stability Link is a product of XXX group.  &copy; 2016, All right Reserved</div>
</div>
</body>

</html>	
	